img {
    transition: .1s ease-in-out;
    max-height: 750px;
}
.card {
    border: none;
 
}
.details-content {
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    flex-direction: column;
    line-height: 30px;
    letter-spacing: .01em;;
    margin-top: 50px;
}
.details-content > h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}
td, th {
    border-bottom: 1px solid #999;
    padding: 1.5rem 0 1.5rem;
    text-align: left;
}