.artwork_list {
    padding: 0 15px;
}
.react-loading {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 350px;
    align-self: center;
    align-items: center;
}
.pagination {
    
}
    /* 
.css-jtlhu6-MuiTablePagination-root{
    display: flex;
    justify-content: center;
    align-items: center;
}
.css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar{
    display: flex;
    justify-content: center;
    align-items: baseline;
} */
.paginate-container {
   display: flex;
   justify-content: center;
   align-items: baseline;
   margin: 50px 0 20px;
}
.page-item-selector {
    
}
