.artwork_list {
    padding: 0 15px;
}
.react-loading {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 350px;
    align-self: center;
    align-items: center;
}
.paginate-container {
   display: flex;
   justify-content: center;
   align-items: baseline;
   margin: 50px 0 20px;
}
.page-link:hover {
    color: black !important;
}
.page-item-selector {
    margin-right: 10px;
}
